name: Format code

on:
  push:
    branches:
      - "renovate/prettier"

jobs:
  run-prettier:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: .nvmrc
      - name: Check prettier formatting
        run: npx prettier@$(jq .devDependencies.prettier package.json -r) --write .
      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7
        with:
          commit_message: Autoupdate formtatting with prettier
