name: Format code

on:
  push:
    branches:
      - "renovate/prettier"

jobs:
  run-prettier:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: .nvmrc
      - name: Check prettier formatting
        run: npx prettier@$(jq .devDependencies.prettier package.json -r) --write .
      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7
        with:
          commit_message: Autoupdate formtatting with prettier
