name: Test

on: [push]

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: .nvmrc
      - name: Check prettier formatting
        run: npx prettier@$(jq .devDependencies.prettier package.json -r) --check .
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: .nvmrc
      - run: corepack enable
      - name: Set yarn version
        run: yarn set version $(jq -r '.engines.yarn' package.json)
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build app
        run: yarn build
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: .nvmrc
      - run: corepack enable
      - name: Set yarn version
        run: yarn set version $(jq -r '.engines.yarn' package.json)
      - name: Install dependencies
        run: |
          yarn install --immutable
          yarn playwright install
      - name: Run tests
        run: yarn test:coverage
      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage/lcov.info
